<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @post.name %>
</p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <b>Tags:</b>
  <%= join_tags(@post) %>
</p>

<h2>Comments</h2>
<%= render @post.comments %>

<h2>Add a comment:</h2>
<%= render "comments/form" %>

<p>
  <strong>Like:</strong>
  <%= @post.likes.size %> 명이 좋아합니다.
</p>

<p>
  <% if current_user.is_like? (@post) %>
  <form action='/post/<%= @post.id%>/like' method='post'>
    <button> 좋아요 취소 </button>
  </form>

<% else %>
  <form action='/post/<%= @post.id%>/like' method='post'>
    <button> 좋아요 </button>
  </form>
<% end %>
</p>

<p>
  <strong>View Count:</strong>
  <%= "#{@post.unique_impression_count}" %>
</p>


<br />
<% if @post.attachment_url.nil? %>
<% else %>
<%= link_to "Download file", @post.attachment_url, download: "Post_#{@post.id}_attachment" %>
<% end %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
